<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>
    <div style="padding: 10px;">
      <h1 style="padding:10px;font-weight: 700;">Angular Libraries</h1>
      <mat-divider></mat-divider>
    </div>

    <mat-nav-list>
      <mat-accordion>
        <mat-expansion-panel expanded>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Material Components
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="panel-content">
            <!-- Panel content -->
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/autocomplete">
              <span matLine class="menu-label">Autocomplete</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/badge">
              <span matLine class="menu-label">Badge</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/bottom-sheet">
              <span matLine class="menu-label">Bottom Sheet</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/button" >
              <span matLine class="menu-label">Button</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/button-toggle">
              <span matLine class="menu-label">Button Toggle</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/card">
              <span matLine class="menu-label">card</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/checkbox">
              <span matLine class="menu-label">checkbox</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/chips">
              <span matLine class="menu-label">chips</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/core">
              <span matLine class="menu-label">core</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/datepicker">
              <span matLine class="menu-label">datepicker</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/dialog">
              <span matLine class="menu-label">dialog</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/divider">
              <span matLine class="menu-label">divider</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/expansion-panel">
              <span matLine class="menu-label">expansion-panel</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/form-field">
              <span matLine class="menu-label">form-field</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/grid-list">
              <span matLine class="menu-label">grid-list</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/icon">
              <span matLine class="menu-label">icon</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/input">
              <span matLine class="menu-label">input</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/list">
              <span matLine class="menu-label">list</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/menu">
              <span matLine class="menu-label">menu</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/paginator">
              <span matLine class="menu-label">paginator</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/progress-bar">
              <span matLine class="menu-label">progress-bar</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/progress-spinner">
              <span matLine class="menu-label">progress-spinner</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/radio-button">
              <span matLine class="menu-label">radio-button</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/ripples">
              <span matLine class="menu-label">ripples</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/select">
              <span matLine class="menu-label">select</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/sidenav">
              <span matLine class="menu-label">sidenav</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/slide-toggle">
              <span matLine class="menu-label">slide-toggle</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/slider">
              <span matLine class="menu-label">slider</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/snackbar">
              <span matLine class="menu-label">snackbar</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/sort-header">
              <span matLine class="menu-label">sort-header</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/stepper">
              <span matLine class="menu-label">stepper</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/table">
              <span matLine class="menu-label">table</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/tabs">
              <span matLine class="menu-label">tabs</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/toolbar">
              <span matLine class="menu-label">toolbar</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/tooltip">
              <span matLine class="menu-label">tooltip</span>
            </mat-list-item>
            <mat-list-item routerLinkActive="active-menu" routerLink="/material-design/tree">
              <span matLine class="menu-label">tree</span>
            </mat-list-item>
          </div>


          <mat-divider></mat-divider>

        </mat-expansion-panel>

        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">

        <mat-expansion-panel-header>
          <mat-panel-title>
            Highcharts
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="panel-content">
          <mat-list-item routerLinkActive="active-menu" routerLink="/highcharts/line-chart">
            <span matLine class="menu-label">Line Charts</span>
          </mat-list-item>
        </div>

        <mat-divider></mat-divider>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-nav-list>


  </mat-drawer>
  <mat-drawer-content class="right-side-content-window" flex="1">
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

