::ng-deep .mat-expansion-panel {
  box-shadow: none !important;
}

.right-side-content-window {
  height: 100vh;
}

@media (max-width: 768px) {
  .right-side-content-window {
    height: 500px;
  }
}

.menu-label{
  vertical-align: 5px;
  font-size: 14px;
  padding: 5px 10px;
}
.mdc-list-item.mdc-list-item--with-one-line{
  height: 42px;
}
.active-menu{
  background-color: #3f51b5;
}
.active-menu .menu-label{
  color: #ffffff;
}

.panel-content {
  max-height: 40vh; /* Adjust the value as per your desired maximum height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the max height */
}
